.input-contenedor {
  position: relative;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.advertencia {
  /* Oculto por defecto */
  display: none;
  
  /* Estilos de la advertencia */
  color: #d9534f; 
  font-size: 0.85rem;
  margin-top: 5px;
  font-weight: bold;
}
