/*---FONDO-Y-SIDEBAR----*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bold';
    src: url('Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('Ubuntu-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Medium', sans-serif;
    background-color: #eef5ff;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.contenedor {
    width: 900px;
    height: 600px;

    background-color: white;

    border-radius: 15px;

    display: flex;

    padding: 15px;

    /*-----*/

    gap: 60px;
}

.sidebar {
    width: 260px;

    background-image: url("bg-sidebar.svg");

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    border-radius: 10px;

    padding: 30px;

    color: white;

    /*-------*/

    display: flex;

    flex-direction: column;

    gap: 30px;

}

.paso {
    display: flex;

    align-items: center;

    gap: 0px 15px;

}

.paso_parrafo p {
    margin-bottom: 0px;
}

.paso_parrafo h4 {
    margin-top: 0px;
}

.number {
    width: 40px;
    height: 40px;

    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.number h4 {
    margin: 0px 10px;
}

.on {
    background-color: #bfe2fd;
    color: black;
}

.paso p {
    font-size: 12px;
    color: #d6d6ff;
}

/*----------ACTIVAR-DESACTIVAR-NUMERO-IZQUIERDA-------------*/

.step {
    display: none;
}

.step.active {
    display: block;

    /*------*/

    flex-direction: column;

    flex: 1;

    padding: 40px 70px 30px 0;
}

/*-----TITULO-Y-PARRAFO-DERECHA-Y-BOTONES--------*/

.title_paragraph {
    /* width: 600px;
    height: 150px; */

    /*------*/

    margin-bottom: 40px;

}

.titles {
    /* flex: 1; */
    color: #02295a;

    /* margin-bottom: 10px; */

    /* padding: 0px 80px; */

    font-size: 38px;

    margin-bottom: 10px;
}

.description {
    color: gray;

    /* margin-bottom: 10px; */

    /* padding: 0px 80px; */

    /*----*/

    line-height: 1.5;
}

.actions {
    /* height: 210px; */

    /*---*/

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.botones {
    /* display: flex; */

    justify-content: space-between;

    /* margin-top: 100px; */

    /*---*/

    margin-top: auto;

    /* display: flex; */
    /* justify-content: flex-end; */

    display: flex;

    justify-content: flex-end;
}

.next {
    background-color: #02295a;

    color: white;

    border: none;

    padding: 15px 28px;

    border-radius: 8px;

    cursor: pointer;

    font-size: 15px;

    /* float: right; */
}

.back {
    background: none;

    color: gray;

    border: none;

    padding: 15px 25px;

    border-radius: 8px;

    font-weight: bold;

    cursor: pointer;

    /* float: left; */
}

button:hover {
    background-color: #174a8b;
}

/*-----STEP1---------*/

.grupo {
    display: flex;
    flex-direction: column;

    /* margin: 20px; */

    /*---*/
    margin-bottom: 10px;
}

.grupo label {
    margin-bottom: 10px;

    /* margin-bottom: 20px; */

    color: #02295a;

    font-weight: bold;

    /* font-weight: bold; */
}

.grupo input {
    padding: 15px;

    border-radius: 8px;

    border: 1px solid #ccc;

    font-size: 16px;

    /*---*/
    outline: none;
}

.grupo input:focus {
    border-color: #473dff;
}

/*-----STEP2----------*/

.planes {
    display: flex;

    gap: 10px;

    margin-bottom: 90;

    justify-content: center;

}

.card-plan {
    
    margin:0px;

    width: 140px;

    /* display:flex; */

    border: 1px solid #d6d9e6;

    border-radius: 10px;

    padding: 20px;

    cursor: pointer;

    transition: 0.3s;
}

.card-plan:hover {
    border-color: #473dff;
    background-color: #f8f9ff;
}

/* .activo-plan{
    border-color: #473dff;

    background-color: #f8f9ff;
} */

.card-plan img {
    width: 40px;

    margin-bottom: 50px;
}

.card-plan h3 {
    color: #02295a;
}

.card-plan p {
    color: gray;
} 

.toggle {
    /* width: 100px; */

    background-color: #f8f9ff;
    
    /* margin-top: 100px; */

    margin: 0px 24px 0px;

    padding: 15px;

    border-radius: 10px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;
}

.switch {
    width: 40px;
    height: 25px;

    background-color: #02295a;

    border-radius: 20px;

    position: relative;

    cursor: pointer;
}

.circle {
    width: 18px;
    height: 18px;

    background-color: white;

    border-radius: 50%;

    position: absolute;

    top: 3px;
    left: 4px;
}

.activo-texto {
    color: #02295a;

    font-weight: bold;
}

.gratis {
    display: block;

    margin-top: 5px;

    color: #02295a;

    font-size: 14px;

    font-weight: bold;
}

.oculto {
    display: none;
}

.circle {
    transition: 0.3s;
}

.toggle {
    margin-top: 25px;

    padding: 18px;
}

.toggle span {
    font-size: 18px;
}

.switch.activo.circle {
    transform: translateX(24px);
}

.activo-texto {
    color: #02295a;

    font-weight: bold;
}

/*--------STEP3-----------*/

.addons {
    margin-top: 0px;

    display: flex;

    flex-direction: column;

    gap: 10px;
}

.addon-card {
    border: 1px solid #d6d9e6;

    border-radius: 10px;

    padding: 10px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    cursor: pointer;

    transition: 0.3s;

    flex-grow: 1;

}

.addon-card:hover {
    background-color: #f8f9ff;

    border-color: #473dff;
}

/* .activo-addon{
    background-color: #f8f9ff;

    border-color: #473dff;
} */

.addon-left {
    display: flex;

    align-items: center;

    gap: 20px;
}

.addon-left input {
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.addon-left h3 {
    color: #02295a;

    margin-bottom: 5px;
}

.addon-left p {
    color: gray;

    font-size: 14px;
}

.addon-card span {
    color: #473dff;

    font-weight: bold;
}

/*-------STEP4--------*/

.summary-box {
    background-color: #f8f9ff;

    padding: 30px;

    border-radius: 10px;

    /* margin-left: 80px; */
}

.plan-info {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.plan-info h3 {
    color: #02295a;
}

.plan-info a {
    color: #473dff;

    font-size: 14px;
}

hr {
    border: none;

    border-top: 1px solid #d6d9e6;

    margin-bottom: 20px;
}

.addon-summary {
    display: flex;

    justify-content: space-between;

    margin-bottom: 15px;
}

.addon-summary p {
    color: gray;
}

.addon-summary span {
    color: #02295a;
}

.total {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 0px;

    /* margin-left: 80px; */

    padding: 0 20px;
}

.total p {
    color: gray;
}

.total h2 {
    color: #473dff;
}

/*--------THANK-YOU-------*/

.thank-you {

    margin: 0;
    text-align: center;

    /* margin-top: 100px; */

    /* flex: 1; */
    padding:100px;


    /* padding: 50px 80px; */
}

.thank-you img {
    margin-bottom: 20px;
}

.thank-you h1 {
    margin-bottom: 20px;

    color: #02295a;

}

.thank-you p {
    color: gray;

    /* margin-bottom: 40px; */
}

/*--version_movil--*/

@media(max-width: 768px) {

    *{
        box-sizing: border-box;
    }

    /* Body */
    body {
        height: auto;

        display: block;

        background-color: #eef5ff;
    }

    /* Contenedor principal */
    .contenedor {
        width: 100%;

        height: auto;

        flex-direction: column;

        padding: 0;

        background: none;

        border-radius: 0;
    }

    /* Sidebar */
    .sidebar {
        width: 100%;

        height: 170px;

        border-radius: 0;

        display: flex;

        justify-content: center;

        align-items: flex-start;

        gap: 20px;

        padding-top: 40px;

        background-image: url("bg-sidebar-mobile.svg");

        background-size: cover;

        background-position: center;
    }

    /* Ocultar textos */
    .paso div:last-child {
        display: none;
    }

    /* Formulario */
    .title_paragraph {
        width: 90%;

        background-color: white;

        margin: -70px auto 0 auto;

        padding: 30px 25px;

        border-radius: 15px;

        position: relative;

        z-index: 10;
    }

    /* Titulo */
    .titles {
        font-size: 32px;
    }

    /* Descripcion */
    .description {
        font-size: 18px;

        line-height: 28px;
    }

    .botones {
        width: 100%;

        background-color: white;

        position: fixed;

        bottom: 0;

        left: 0;

        padding: 20px;

        /* display: flex;

        justify-content: space-between;

        align-items: center; */
    }

}