*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mifuente';
    src: url('Ubuntu-Regular.ttf') format('truetype');;
    font-weight: normal;
    font-style:normal;
}

body{
    font-family: 'Mifuente', sans-serif;
    background-color: #eef5ff;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.contenedor{
    width: 900px;
    height: 600px;

    background-color: white;

    border-radius: 15px;

    display: flex;

    padding: 15px;
}

.sidebar{
    width: 250px;

    background-image: url("bg-sidebar.svg");

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    border-radius: 10px;

    padding: 30px;

    color: white;
}

.paso{
    display: flex;

    align-items: center;

    gap: 15px;

    margin-bottom: 30px;
}

.numero{
    width: 40px;
    height: 40px;

    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activo{
    background-color: #bfe2fd;
    color: black;
}

.paso p{
    font-size: 12px;
    color: #d6d6ff;
}

.title_paragraph{
    flex: 1;

    margin:0px 80px;

    /* padding: 50px 0px; */

    /* padding: 50px 80px; */
}

.title_paragraph h1{
    color: #02295a;

    margin-bottom: 10px;

    padding: 50px 0px 0px 0px;
}

.description{
    color: gray;

    margin-bottom: 40px;
}

.grupo{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.grupo label{
    margin-bottom: 8px;

    color: #02295a;

    font-weight: bold;
}

.grupo input{
    padding: 15px;

    border-radius: 8px;

    border: 1px solid #ccc;

    font-size: 16px;
}

.botones {
    margin-top: 80px;
}

button{
    background-color: #02295a;

    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 8px;

    cursor: pointer;

    float: right;
}

button:hover{
    background-color: #174a8b;
}


/*--version_movil--*/

@media(max-width: 768px){

    /* Body */
    body{
        height: auto;

        display: block;

        background-color: #eef5ff;
    }

    /* Contenedor principal */
    .contenedor{
        width: 100%;

        height: auto;

        flex-direction: column;

        padding: 0;

        background: none;

        border-radius: 0;
    }

    /* Sidebar */
    .sidebar{
        width: 100%;

        height: 170px;

        border-radius: 0;

        display: flex;

        justify-content: center;

        align-items: flex-start;

        gap: 20px;

        padding-top: 40px;

        background-image: url("bg-sidebar-mobile.svg");

        background-size: cover;

        background-position: center;
    }

    /* Ocultar textos */
    .paso div:last-child{
        display: none;
    }

    /* Formulario */
    .formulario{
        width: 90%;

        background-color: white;

        margin: -70px auto 0 auto;

        padding: 30px 25px;

        border-radius: 15px;

        position: relative;

        z-index: 10;
    }

    /* Titulo */
    .formulario h1{
        font-size: 32px;
    }

    /* Descripcion */
    .descripcion{
        font-size: 18px;

        line-height: 28px;
    }

    /* Inputs */
    .grupo input{
        width: 100%;
    }

    /* Botones */
    .botones{
        width: 100%;

        background-color: white;

        padding: 20px;

        margin-top: 80px;

        position: fixed;

        bottom: 0;

        left: 0;
    }

    /* Planes step 2 */
    .planes{
        flex-direction: column;
    }

    /* Tarjetas planes */
    .card-plan{
        width: 100%;

        display: flex;

        align-items: center;

        gap: 20px;
    }

    /* Imagen planes */
    .card-plan img{
        margin-bottom: 0;
    }

    /* Toggle */
    .toggle{
        margin-top: 20px;
    }

    /* Addons */
    .addon-card{
        padding: 15px;
    }

    /* Texto addons */
    .addon-left h3{
        font-size: 15px;
    }

    .addon-left p{
        font-size: 13px;
    }

    /* Summary */
    .summary-box{
        padding: 20px;
    }

    /* Total */
    .total{
        padding: 0;
    }

    /* Botones */
    .botones {
        width: 100%;

        background-color: white;

        position: fixed;

        bottom: 0;

        left: 0;

        padding: 20px;

        display: flex;

        justify-content: space-between;

        align-items: center;
    }

        /* Boton next */
    .next {
        padding: 14px 22px;

        font-size: 16px;

        cursor: pointer;

        float: right;
    }
}