* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef5ff;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    background-color: white;

    width: 950px;
    height: 600px;

    border-radius: 20px;

    padding: 20px;

    display: flex;

    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* SIDEBAR */

.sidebar {
    width: 280px;

    background: linear-gradient(
        to bottom,
        #483eff,
        #6259ff
    );

    border-radius: 15px;

    padding: 40px 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    color: white;
}

.step {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle {
    width: 40px;
    height: 40px;

    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.circle.active {
    background-color: #bfe2fd;
    color: black;
    border: none;
}

.info span {
    font-size: 12px;
    opacity: 0.7;
}

.info h4 {
    font-size: 14px;
    letter-spacing: 1px;
}

/* CONTENT */

.content {
    flex: 1;

    padding: 40px 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h1 {
    color: #02295a;
    margin-bottom: 10px;
}

.content p {
    color: gray;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #02295a;
    font-size: 14px;
}

input {
    margin-bottom: 25px;

    padding: 15px;

    border-radius: 8px;
    border: 1px solid #ccc;

    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #483eff;
}

button {
    align-self: flex-end;

    background-color: #02295a;
    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 15px;
}

button:hover {
    opacity: 0.9;
}