*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mifuente';
    src: url('Ubuntu-Bold.ttf') format('truetype');;
    font-weight: normal;
    font-style:normal;
}

body{
    font-family: 'Mifuente', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #eef5ff;

    display: flex; 
    
    justify-content: center;
    
    align-items: center;

    height: 100vh;  
}

.contenedor{
    
    width: 900px;
    
    height: 600px; 

    background-color: white;
    
    border-radius: 15px;
    
    display: flex;
    
    padding: 15px;
}

.sidebar{
   
    background-image: url("bg-sidebar.svg");

    width: 250px; 

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    border-radius: 10px;

    padding: 30px;

    color: white; 
}

.paso{
    display: flex;

    align-items: center;

    gap: 15px;

    margin-bottom: 30px;
}

.paso p{
    font-size: 12px;
    color: #d6d6ff;
}

.numero{
    width: 40px;
    height: 40px;

    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    flex: 1;

    padding: 50px 80px;
}

.formulario h1{
    color: #02295a;

    margin-bottom: 10px;
}

.descripcion{
    color: gray;

    margin-bottom: 40px;
}

/*-------------------*/

.addons{
    margin-top: 40px;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.addon-card{
    border: 1px solid #d6d9e6;

    border-radius: 10px;

    padding: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    cursor: pointer;

    transition: 0.3s;
}

.addon-card:hover{
    background-color: #f8f9ff;

    border-color: #473dff;
}

/* .activo-addon{
    background-color: #f8f9ff;

    border-color: #473dff;
} */

.addon-left{
    display: flex;

    align-items: center;

    gap: 20px;
}

.addon-left input{
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.addon-left h3{
    color: #02295a;

    margin-bottom: 5px;
}

.addon-left p{
    color: gray;

    font-size: 14px;
}

.addon-card span{
    color: #473dff;

    font-weight: bold;
}

/*--------------------*/

.botones{
    display: flex;

    justify-content: space-between;

    margin-top: 40px;
}

.back{
    background: none;

    border: none;

    color: gray;

    font-weight: bold;

    cursor: pointer;
}

.next{
    background-color: #02295a;

    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 8px;

    cursor: pointer;
}