* {
    padding:0;
    margin:0;
}

h1 {
    padding:20 px;
    text-align: center;
    background: black;
    color: bisque;
}

input {
    width:80%;
    height: 30px;
    margin: 10px;
    color: white;
    background: red;
    border: none;
    cursor: pointer;
}